
html{
  font-size: 18px;
  font-family: Helvetica;
  color: white;
}

#header{
  background-color: black;
}

header{
  background-color: black;
  display: flex;
  align-items: center;
  padding-left: 0.5rem
}

header img{
  height: 1.5rem;
  padding-right: 1rem;
}

header span{
  font-size: 1rem;
  font-family: Helvetica;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

.banner_image{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
}

.banner_new_arrival{
  position: relative;
  top: 9rem;
  padding-top: 2rem;
  padding: 2rem 3rem;
  background-color: black;
  width: 20rem;
  flex-direction: column;
  }


.banner_new_arrival h1{
  font-family: Helvetica;
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}

.banner_new_arrival h4{
  font-family: Helvetica;
  font-size: 1rem;
  margin-bottom: 0.25rem;
  font-weight: bold;
  display: inline-block;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.flexcontainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav{
  background-color: firebrick;
  color: white;
}

nav ul{
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0.75rem 0;
  justify-content: space-between;
}

nav ul a{
  font-size: 1rem;
  font-family: Helvetica;
  color: white;
  text-decoration: none;
}

.item{
  width: 30%;
}

.item_grid{
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.item_image{
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_image img{
  max-width: 8rem;
}

.item_description{
  display:flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.location_grid{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}


.loc_hours{
  background-color: black;
  color: white;
  width: 35%;
}

.loc_hour_title{
  display: block;
  padding: 1rem 2rem;
}

.loc_hour_subtitle{
  background-color: white;
  color: black;
  display: block;
}

.footer{
  display: block;
  background-color: black;
  margin: 4rem 0 0 0;
  padding: 5em 0;
}

.footer_text{
  text-align: left;
}

#mobile{
  display: none;
}

@media only screen and (max-width: 1024px){
  .item{
    width: 47%;
  }

  .loc_hours{
    background-color: black;
    color: white;
    width: 35%;
  }

  #item03{
    display: none;
  }

  #mobile{
    display: initial;
    margin: 0 auto;
  }

  #screen{
    display: none;
  }

  header span{
    font-size: 16px;
  }
}

@media only screen and (max-width: 470px){
  .banner_new_arrival h1{
    font-size: 1rem;
  }

  .banner_new_arrival h4{
    font-size: 0.77rem;
  }

  .banner_new_arrival{
    top: 10rem;
    padding: 1rem 2rem;
    width: 100%;
    }

    .banner_image{
      height: 15rem;
    }

    #item03{
      display: none;
    }

    #item02{
      display: none;
    }

    .item{
      width: 90%;
      margin: 0 auto;
    }

    .location_grid{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .loc_hours{
    width: 90%;
    margin-bottom: 0.5rem;
    }

    .footer_text{
      text-align: center;;
    }

}
